main .CHeaderMain
{
    background-image: url(../Imges/wallpaperflare.com_wallpaper.jpg);
    width: 100%;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 400px;
}
main .CHeaderMain h2
{
    font-size: 42px;
    padding-top: 201px;
}
main form .GeneralInormation
{
    padding-top: 12px;
}
main form .GeneralInormation .HedForm
{
    color: black;
    width: fit-content;
    border-bottom: 2px solid black;
}
main form .GeneralInormation .AllInput,
main form .GeneralInormation .AddSlidesa .AllInput
{
    padding: 15px;
}
main form .GeneralInormation .AllInput .inForm,
main form .GeneralInormation .AddSlidesa .AllInput .inForm
{
    padding: 15px;
    display: grid;
}
main form .GeneralInormation .AllInput .inForm .InputEnter,
main form .GeneralInormation .AddSlidesa .AllInput .inForm .InputEnter
{
    display: flex;
}
main form .GeneralInormation .AllInput .inForm .InputEnter h3,
main form .GeneralInormation .AddSlidesa .AllInput .inForm .InputEnter h3
{
    padding: 4px;
    font-size: 19px;
    color: #954924;
}
main form .GeneralInormation .AllInput .inForm .InputEnter input[type=text]
,main form .GeneralInormation .AddSlidesa .AllInput .inForm .InputEnter input[type=text]
{
    padding: 5px;
    font-family: cursive;
    color: #4f2c22;
    border: 1px #4f2c22 solid;
    border-radius: 6px;
}
main form .GeneralInormation .AllInput .inForm .InputEnter input[type=date],input[type=file]
,main form .GeneralInormation .AddSlidesa .AllInput .inForm .InputEnter input[type=date],input[type=file]

{
    padding: 5px;
    font-family: cursive;
    color: #4f2c22;
    border: 1px #4f2c22 solid;
    border-radius: 6px;
    font-size: 14px;
}
main form .GeneralInormation .AllInput .inForm span,
main form .GeneralInormation .AddSlidesa .AllInput .inForm span

{
    color: red;
    padding-left: 130px;
}
main form .GeneralInormation .butonSlide
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
main form .GeneralInormation .butonSlide button
{
    cursor: pointer;
    font-size: inherit;
    color: white;
    border: none;
    background: #6b4d42;
    border-radius: 7px;
    padding: 8px;
}
main form .GeneralInormation .AllInput .addButton button,
main form .GeneralInormation .AddSlidesa .AllInput .addButton button
{
    cursor: pointer;
    font-size: inherit;
    color: white;
    border: none;
    background: #6b4d42;
    border-radius: 7px;
    padding: 8px;
}
main form .GeneralInormation .AllInput .addButton,
main form .GeneralInormation .AddSlidesa .AllInput .addButton 
{
    text-align: end;
}
main form .GeneralInormation .AllInput .inForm .InputEnter textarea,
main form .GeneralInormation .AddSlidesa .AllInput .inForm .InputEnter textarea
{
    
    resize: none;
    padding: 15px;
    font-size: 17px;
    color: #4f2c22;
    border: 1px #4f2c22 solid;
    border-radius: 7px;
}
main form .GeneralInormation .AllInput .inForm .InputEnter select
{
    padding: 5px;
    font-family: cursive;
    color: #4f2c22;
    border: 1px #4f2c22 solid;
    border-radius: 6px;
}