
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="CHeaderMain">
    <h2>Create CV</h2>
</div>
<form method="post" asp-action="CreateCv" enctype="multipart/form-data">
    <div id="1" class="GeneralInormation">
        <div class="HedForm">
            <h2>General Information About You:</h2>
        </div>
        <div class="AllInput">
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Name:</h3>
                    <input type="text" name="NameUser" Reqired placeholder="Name">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Email:</h3>
                    <input type="text" name="Email" Reqired placeholder="Email">
                </div>

            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Basic Jop:</h3>
                    <input type="text" name="Jop" Reqired placeholder="Jop">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Phone:</h3>
                    <input type="text" name="Phone" Reqired placeholder="Phone">
                </div>
            </div>

            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Country:</h3>
                    <input type="text" Reqired name="Country" placeholder="Country">
                </div>

            </div>

            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Governorate:</h3>
                    <input type="text" Reqired name="Governorate" placeholder="Governorate">
                </div>
            </div>

            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Address:</h3>
                    <input type="text" name="Address" Reqired placeholder="Address">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Birthday:</h3>
                    <input type="date" required name="Birthday">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Upload Your Image:</h3>
                    <input type="file" name="ImageUser" required>
                </div>
            </div>
        </div>
        <div class="butonSlide">
            <div></div>
            <button type="button" onclick="GotoEducation()">Education ></button>
        </div>
    </div>
    <!-- Eduction -->
    <div style="display: none;" id="2" class="GeneralInormation">
        <div class="HedForm">
            <h2>General Information About Education:</h2>
        </div>

        <div class="AllInput">
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter College:</h3>
                    <input type="text" name="CollegeName" Reqired placeholder="College">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Department:</h3>
                    <input type="text" Reqired name="Department" placeholder="Department">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Grade:</h3>
                    <input type="text" name="Grade" Reqired placeholder="Grade">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter start Date:</h3>
                    <input required type="date" name="startDate" placeholder="Start Date">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter End Date:</h3>
                    <input required type="date" name="EndDate" placeholder="End Date">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Upload the Certificate(Not Reqired):</h3>
                    <input type="file" name="Certificate" placeholder="Colloge">
                </div>
                <div class="addButton">
                    <button onclick="addEduction()" type="button">Add Education</button>
                </div>
            </div>


        </div>
        <div class="AddSlidesa" id="ManySlide">
        </div>
        <div class="butonSlide">
            <button type="button" onclick="GotoEducation()">< General Inforamtion</button>
            <button type="button" onclick="GoToLanguage()">Language ></button>
        </div>
    </div>
    <!-- Language -->
    <div style="display: none;" id="3" class="GeneralInormation">
        <div class="HedForm">
            <h2>General Information About Language:</h2>
        </div>
        <div class="AllInput">
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Language:</h3>
                    <input type="text" name="Language" reqired placeholder="Language">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Language:</h3>
                    <input type="range" name="RLangage" min="1" max="100" placeholder="Language">
                </div>
            </div>
            <div class="addButton">
                <button onclick="addLanguage()" type="button">Add Language</button>
            </div>
        </div>
        <div class="AddSlidesa" id="ManySlideLangae">
        </div>
        <div class="butonSlide">
            <button type="button" onclick="GoToLanguage()">< Eduction</button>
            <button type="button" onclick="GoToSummray()">Summary ></button>
        </div>
    </div>
    <!-- summary -->
    <div style="display: none;" id="4" class="GeneralInormation">
        <div class="HedForm">
            <h2>General Information About summary:</h2>
        </div>
        <div class="AllInput">
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter summary:</h3>
                    <textarea required name="summary" rows="20" cols="120" placeholder="summary"></textarea>
                </div>
            </div>
        </div>
        <div class="AddSlidesa" id="ManySlideLangae">
        </div>
        <div class="butonSlide">
            <button type="button" onclick="GoToSummray()">< Language</button>
            <button type="button" onclick="GoToskill()">Skills ></button>
        </div>
    </div>
    <!-- Skill -->
    <div style="display: none;" id="5" class="GeneralInormation">
        <div class="HedForm">
            <h2>General Information About summary:</h2>
        </div>
        <div class="AllInput">
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Name Skill:</h3>
                    <input type="text" required name="SkillName" placeholder="Skill">
                </div>
                <div class="inForm">
                    <div class="InputEnter">
                        <h3>Upload the Certificate(NotReqired):</h3>
                        <input type="file" name="Certificate" placeholder="Colloge">
                    </div>
                </div>
                <div class="addButton">
                    <button onclick="addSkill()" type="button">Add Skill</button>
                </div>
            </div>
        </div>
        <div class="AddSlidesa" id="ManySlideSkill">
        </div>
        <div class="butonSlide">
            <button type="button" onclick="GoToskill()">< summary</button>
            <button type="button" onclick="GoToWork()">Work Experience ></button>
        </div>
    </div>
    <!-- Work Experience -->
    <div style="display: none;" id="6" class="GeneralInormation">
        <div class="HedForm">
            <h2>General Information About Work Experience:</h2>
        </div>
        <div class="AllInput">
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Name Project:</h3>
                    <input type="text" required name="NameProject" placeholder="Name Project">
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter summary Project:</h3>
                    <textarea name="summaryProject" required placeholder="summary Project" role="20" cols="60"></textarea>
                </div>
            </div>
            <div class="addButton">
                <button onclick="addWork()" type="button">Add Work</button>
            </div>
        </div>
        <div class="AddSlidesa" id="ManySlideWork">
        </div>
        <div class="butonSlide">
            <button type="button" onclick="GoToWork()">< Skill</button>
            <button type="button" onclick="GoToSocialMedia()">Social Media ></button>
        </div>
    </div>
    <!-- Social Media -->
    <div id="7" style="display: none;" class="GeneralInormation">
        <div class="HedForm">
            <h2>General Information About Social Media:</h2>
            <br>
            <h2>Like Github ,Linkedin, FaceBook , twiter </h2>
        </div>
        <div class="AllInput">
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Select Name Social Name:</h3>
                    <select name="SocialName">
                        <option value="FaceBook">FaceBook</option>
                        <option value="GitHub">GitHub</option>
                        <option value="LinkedIn">LinkedIn</option>
                        <option value="Instgram">Instgram</option>
                        <option value="Twiter">Twiter</option>
                    </select>
                </div>
            </div>
            <div class="inForm">
                <div class="InputEnter">
                    <h3>Enter Link:</h3>
                    <input type="text" name="LinkSoial" required placeholder="Link">
                </div>
            </div>
            <div class="addButton">
                <button onclick="addsocial()" type="button">Add Social</button>
            </div>
        </div>
        <div class="AddSlidesa" id="ManySlidesocial">
        </div>
        <div class="butonSlide">
            <button type="button" onclick="GoToSocialMedia()">< Work Ex</button>
            <button type="submit">Finsh ></button>
        </div>
    </div>
</form>

